<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Comparison</title>
    <style type="text/css">
        .textarea-inherit {
        width: 45%;
        height: 45%;
        overflow: auto;
        word-break: break-all; //解决兼容问题
    }
    </style>

</head>
<body>
<form target="_blank" action="/v1/bing/etl/comparison" enctype='multipart/form-data' method='post'>
    <div>
<!--        <textarea rows="15" name="main" class="textarea-inherit"></textarea>-->
        <textarea  rows="20" name="main" class="textarea-inherit"></textarea>
        <textarea  rows="20" name="sub" class="textarea-inherit"></textarea>
    </div>
    <div>
        <input name="json_sort_flag" type="checkbox" checked="on">json sort
        <input type="submit" value="submit">
    </div>

</form>

</body>
</html>