<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SERVICE LIST</title>
    <style>
        body {
            text-align: center
        }

        #EE {
            margin: 0 auto;
            width: 400px;
            min-height: 200px;
            max-height: 250px
        }


    </style>

</head>
<body>
<dl>
    <dt>&nbsp</dt>
    <dd><a href="http://cc-z.com:9099/geo">Geo Server</a></dd>
    <dt>&nbsp</dt>
    <dd><a href="http://cc-z.com:9099/jsonsort">Json Sort Server</a></dd>
    <dt>&nbsp</dt>
    <dd><a href="http://cc-z.com:9099/jsonstring">Json String Server</a></dd>
    <dt>&nbsp</dt>
    <dd><a href="http://cc-z.com:9099/textComparison">Text Comparison Server</a></dd>
    <dt>&nbsp</dt>
    <dd><a href="http://cc-z.com:9099/v1/bing/distinguish/animals">Distinguish Animals Server</a></dd>
    <dt>&nbsp</dt>
</dl>

</body>
</html>