<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SERVICE LIST</title>
    <style>
        body {
            text-align: center
        }

        #EE {
            margin: 0 auto;
            width: 400px;
            min-height: 200px;
            max-height: 250px
        }


    </style>

</head>
<body>
<dl>
    <dt>&nbsp</dt>
    <dd><a href="./geo">Geo Server</a></dd>
    <dt>&nbsp</dt>
    <dd><a href="./jsonsort">Json Sort Server</a></dd>
    <dt>&nbsp</dt>
    <dd><a href="./jsonstring">Json String Server</a></dd>
    <dt>&nbsp</dt>
    <dd><a href="./textComparison">Text Comparison Server</a></dd>
    <dt>&nbsp</dt>
    <dd><a href="./v1/bing/distinguish/animals">Distinguish Animals Server</a></dd>
    <dt>&nbsp</dt>
    <dd><a href="./v1/bing/etl/statutoryHoliday">Statutory Holiday Server</a></dd>
    <dt>&nbsp</dt>
</dl>

</body>
</html>