<!DOCTYPE html>
<html>
<head>
    <title>Json Compression</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <style>
        body {
            text-align: center
        }

        #EE {
            margin: 0 auto;
            width: 400px;
            min-height: 400px
        }


    </style>
    <style type="text/css">
        .textarea-inherit {
            width: 45%;
            height: 80%;
            overflow: auto;
            word-break: break-all;
        / / 解决兼容问题
        }


    </style>

</head>


<body>


<div>

    <div>
                <textarea rows="30" name="main" class="textarea-inherit" id="input_json"
                           value="maindata">{{variable.result}}}</textarea>

    </div>


</div>


</body>
</html>